.container {
  border: 2px solid black;
  @media (min-width: 700px) {
    width: 50%;
  }
}

img {
  width: 100%;
  @media (min-width: 700px) {
    max-height: 300px;
  }
}

.portrait {
  @media (min-width: 700px) {
    max-height: 100%;
  }
}
