.card {
  margin-bottom: 30px;
}
img {
  margin-bottom: 30px;
}

.title {
}

.description {
  line-height: 2;
  margin: 0 auto;
  width: 50%;
}

.content-container {
}

.button-container:nth-child(0) {
}
