.container {
  margin: 125px 0 100px 0;
  display: grid;
  grid-template-columns: 1fr;
}

img {
  margin: 0 auto 25px auto;
  border-radius: 50%;
  width: 200px;
  box-shadow: rgb(211, 211, 211) 0px 4px 6px 2px;
}

.textContainer {
  text-align: center;
}

.heading {
  color: rgb(59, 59, 59);
  font-family: "Rubik", serif;
}

.subheading {
  color: rgb(78, 77, 77);
  font-family: "Rubik", serif;
  font-size: 1.1em;
}
