.container {
  font-size: 1.5em;
  line-height: 2;
}

.list {
  margin: 20px 0px;
  vertical-align: top;
  color: rgb(68, 68, 68);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

ul {
  list-style: none;
}

.heading {
  color: rgba(31, 31, 31, 0.8);
  font-weight: 600;
}
