.container {
  border: 2px solid black;
  font-size: 1.5em;
  line-height: 2;
}

.notes {
  @media (min-width: 700px) {
    display: flex;
    justify-content: flex-start;
  }
}

.list {
  border: 2px solid black;
  margin: 20px 0px;
  vertical-align: top;
  color: rgb(100, 100, 100);
  text-align: center;

  @media (min-width: 700px) {
    margin: 0 auto;
  }
}

ul {
  list-style: none;
}

.heading {
  color: rgba(31, 31, 31, 0.8);
  font-weight: 600;
}
